<div id="<%= dom_id retailer %>">
  <p>

    <img src="<%= retailer.image%>" alt="<%= retailer.name %>'s logo" style="width: 150px; height: 100px">
    <p><%= retailer.name %></p>
    <p><strong>URL: </strong></p>
    <p><%= link_to "Link to External Site", retailer.url %></p>
  </p>

</div>
