<section class="product-details">
  <div class= id="<%= dom_id product %>">
    <div class= "container">
      <div class="row">
        <div class="product-image mt- pt-4 col-lg-7 col-12 order-lg-1 order-2">
          <img src="<%= product.image %>">
        </div>

        <div class="product-info-pane pt-5 mt-5 ps-lg-4 col-lg-5 col-12 order-lg-2 order-1">
          <div class="product-brand mb-2">
            <small><a href="#"> <%= @product.brand %></a></small>
          </div>
          <div class="product-name mb-3">
            <strong><%= product.name %></strong>
          </div>

          <div class="product-description mb-3">
            <strong>Description:</strong>
            <%= product.description %>
          </div>

          <div class="product-volume">
            <strong>Product Volume:</strong>
            <p><%= product.product_volume %> oz</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
