<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag("/assets/cerave_16oz_cropped", height: "", width: "") %>
  </p>

   <p>
    <strong>Product Volume:</strong>
    <%= product.product_volume %>
  </p>
 
</div>
