<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<table border="1">
  <tr >
    <th>
      Product Name
    </th>
    <th>
      Description
    </th>
    <th>
      Image
    </th>
    <th>
      Size/Volume
    </th>
    <th>
      Show this product
    </th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.image %></td>
      <td><%= product.product_volume%></td>
      <td><%= link_to "View Product", product_path(product) %></td>
  </tr>
    <% end %>
</table>

<!--<div id="products">

  <%#= render product %>-->
<!--  <p>-->
<%#= link_to "Show this product", product %>
<!--  </p>

</div>

<%#= link_to "New product", new_product_path %>-->
<!---->
