<div class="container product-container mb-5">
  <p style="color: green"><%= notice %></p>
  <%= render @product %>
  <hr>
  <!-- Price Nav tabs -->
  <%= render "navtabs"%>

  <!-- Tab panes -->
  <%= render "tabcontent" %>

  <!-- TO DO; Permanently remove unncessary links -->

  <%#= link_to "Edit this product", edit_product_path(@product) %>
  <div class="back-to-products mb-3">
    <%= link_to "Back to products", products_path %>
  </div>

  <%#= button_to "Destroy this product", @product, method: :delete %>
</div>
</div>
