<div class="container product-container">
  <p style="color: green"><%= notice %></p>
  <%= render @product %>

  <hr>
  <!-- Nav tabs -->
  <ul class="nav nav-underline nav-fill" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="current-prices-tab" data-bs-toggle="tab" data-bs-target="#current-prices" type="button" role="tab" aria-controls="current-prices" aria-selected="true">Current Prices</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="price-history-tab" data-bs-toggle="tab" data-bs-target="#price-history" type="button" role="tab" aria-controls="price-history" aria-selected="false">Price History</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="product-info-tab" data-bs-toggle="tab" data-bs-target="#product-info" type="button" role="tab" aria-controls="product-info" aria-selected="false">Product Information</button>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="current-prices" role="tabpanel" aria-labelledby="current-prices-tab" tabindex="0">
      <h1>
        Current Prices
      </h1>
      <% @product.listings.each do |listing|%>
        <div class="card w-100 text-end">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="<%= listing.retailer.image%>" class="img-fluid rounded-start retailer-logo" alt="<%=listing.retailer.name%> logo">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">$<%= listing.snapshots.order(snapshot_date: :desc).first.price%></h5>
                <p class="card-text"><a href="<%=listing.url%>">View Listing</a>  </p>
                <p class="card-text"><small class="text-body-secondary">Last updated <%= listing.snapshots.maximum(:snapshot_date).strftime("%D")%></small></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="tab-pane" id="price-history" role="tabpanel" aria-labelledby="price-history-tab" tabindex="0">
      <h1>
        Px Hx
      </h1>
      <% @product.listings.each do |listing|%>
        <div>
          <h5><%= listing.retailer.name %></h5>
          <%= line_chart snaps_by_day_snapshots_path({ listing_id: listing.id }) %>
        </div>
      <% end %>

    </div>

    <div class="tab-pane" id="product-info" role="tabpanel" aria-labelledby="product-info-tab" tabindex="0">
      <h1>
        Prod Info
      </h1>
      <p> Product Name </p>
      <p> Brand </p>
      <p> Product Volume 
        <p>
          <p> Category </p>
          <p>Created at The Pretty Price</p>
        </div>

      </div>

      <!-- TO DO; Permanently remove unncessary links -->

      <%#= link_to "Edit this product", edit_product_path(@product) %>

      <%= link_to "Back to products", products_path %>

      <%#= button_to "Destroy this product", @product, method: :delete %>
    </div>
  </div>
