<div class="container product-container">
  <p style="color: green"><%= notice %></p>
  <%= render @product %>

  <hr>

  <h3>
    Prices
  </h3>

  <% @product.listings.each do |listing|%>
    <table border=" 2px solid black">
      <tr>
        <th>
          Retailer
        </th>
        <th>
          Link to Retailer
        </th>
        <th>
          Current Price
        </th>
      </tr>
      <tr>
        <td>
          <%= listing.retailer.name %>
        </td>

        <td>
          <a href="<%= listing.url %>">
            Click here
          </a>
        </td>

        <td>
         $Price Placeholder
        </td>
      </tr>
    </table>

  <% end %>
  <p>
    Retailer Place holder
  </p>

  <hr>
  <h3>
    Price History
  </h3>
  <p>
    Snapshot Table Place holder
  </p>

  <div>

    <!-- TO DO; Permanently remove unncessary links -->

    <%#= link_to "Edit this product", edit_product_path(@product) %>

    <%= link_to "Back to products", products_path %>

    <%#= button_to "Destroy this product", @product, method: :delete %>
  </div>
</div>
