<div class="container product-container">
  <p style="color: green"><%= notice %></p>
  <%= render @product %>

  <hr>

  <h3>
    Prices
  </h3>

  <% @product.listings.each do |listing|%>
    <table border=" 2px solid black">
      <tr>
        <th>
        </th>
        <th>
          Retailer
        </th>
        <th>
          Link to Retailer
        </th>
        <th>
          Current Price
        </th>
      </tr>
      <tr>
        <td>
          <img src="<%= listing.retailer.image%>" alt="<%=listing.retailer.name%> logo">
        </td>
        <td>
          <%= listing.retailer.name %>
        </td>

        <td>
          <a href="<%= listing.url %>">
            Click here
          </a>
        </td>

        <td>
          $Price Placeholder
        </td>
      </tr>
    </table>

    <hr>
    <h3>
      Price History
    </h3>
    <!--JUST WANTED TO TEST CHART/ TO BE REMOVED-->
    <p>
      <%= listing.retailer.name %> Chart Tab
    </p>
    <div>
      <%= line_chart snaps_by_day_snapshots_path({ listing_id: listing.id }) %>
    </div>
  <% end %>
  <div>

    <!-- TO DO; Permanently remove unncessary links -->

    <%#= link_to "Edit this product", edit_product_path(@product) %>

    <%= link_to "Back to products", products_path %>

    <%#= button_to "Destroy this product", @product, method: :delete %>
  </div>
</div>
